@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*{
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  
}
@theme {
  --color-primary: #5044E5;
}
@layer utilities {
  .cursor-dot {
    transition: transform 0.05s linear;
  }
  .cursor-outline {
    transition:
      width 0.25s ease,
      height 0.25s ease,
      border-color 0.25s ease,
      transform 0.15s ease-out;
    backdrop-filter: blur(4px);
  }

  /* Hover enlarge effect */
  a:hover ~ .cursor-outline,
  button:hover ~ .cursor-outline,
  .hover-target:hover ~ .cursor-outline {
    width: 60px !important;
    height: 60px !important;
    border-color: #00e3a5;
  }

  /* Hide when mouse leaves screen */
  body.cursor-hidden .cursor-dot,
  body.cursor-hidden .cursor-outline {
    opacity: 0;
  }
}
